<%  def display
      if params[:action] == 'show' || params[:action] == 'edit' || params[:action] == 'filter'
      	'display: none !important'
      elsif params[:action] == 'home'
        'display: flex !important'
      # elsif params[:action] == 'index' && current_retailer
      #   'display: flex !important'
      elsif user_signed_in? 
        'display: flex !important'
      else
        'display: none !important'
      end 
    end  
%>

<% if params[:action] == 'home' %>

	<div class="navbar d-flex" style="<%=display%>; position: fixed !important; width: 100vw; padding: 30px 40px !important">
		<div class="navbar-left d-flex">
		<%= image_tag "logo-bylo-w.svg", alt: "bylo logo logo-landing", class: "logo-navbar"%>
		<p class="moto">Votre portefeuille 100% digital</p>
		</div>
		<div class="navbar-right d-flex">
			<%= mail_to "contact@bylo.app", "Rejoindre l'aventure", style: "z-index: 1000"  %>
			<p style="padding: 10px;">|</p>
			<%= link_to "Accéder à mon espace", new_retailer_session_path, style: "z-index: 1000"%>
		</div>
	</div>

<% elsif params[:action] == 'index' && current_retailer %>

	<div class="navbar d-flex" style="<%=display%>; position: fixed !important; width: 100vw; padding: 30px 40px !important">
		<div class="navbar-left d-flex">
		<%= image_tag "logo-bylo-w.svg", alt: "bylo logo", class: "logo-navbar"%>
		</div>
		<div class="navbar-right d-flex">
			<%= link_to root_path do %>
				<i class="far fa-user" id="dashboard" style="color: white !important;"></i>
			<% end %>
		</div>
	</div>

<% else %>

	<div class="navbar d-flex" style="<%=display%>">
		<%= image_tag "logo-bylo.svg", alt: "bylo logo", class: "logo-navbar"%>
		<%= link_to root_path do %>
			<i class="far fa-user" id="dashboard"></i>
		<% end %>

		<% if params[:action] == 'index' %>
			<div class="searchbar d-flex">
				<div></div>
				<%= link_to receipts_index_filter_path do %>
				  <i class="fas fa-sliders-h"></i>
				<% end %>
	<!-- 			<p class="tag">MONTANT MIN. 1€</p>
				<p class="tag">UNIQUEMENT CE MOIS-CI</p> -->
				<!-- <i class="fas fa-search"></i> -->
			</div>
		<% end %>

		<div style="<%= 'border-radius: 0%; bottom: 0%;' if params[:action] == 'index'%>" class="anim-navbar">
		</div>

	</div>

<% end %>
