<!DOCTYPE html>
<html>
  <head>
    <title>ApiBillicopresto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%  def bg_color
        if params[:action] == 'dashboard' && current_user
          "background: linear-gradient(-20deg, #ff9133, #1c2edf, #1c2edf);
            background-size: 500vw 200vh;
            animation: gradient 15s ease infinite;
            height: 100vh; width: 100.2vw !important; overflow: hidden;" 
        elsif params[:action] == 'dashboard' && current_retailer
          "background: linear-gradient(-20deg, #1c2edf, #1c2edf, #ff9133);
            background-size: 500vw 200vh;
            animation: gradient 25s ease infinite;
            height: 100vh; width: 100.2vw !important; overflow: hidden;"
        elsif params[:action] == 'dashboard' && current_user == nil
          "background: linear-gradient(-20deg, #ff9133, #fc7145, #1c2edf, #1c2edf);
            background-size: 500vw 200vh;
            animation: gradient 15s ease infinite;
            height: 100vh; width: 100.2vw !important; overflow: hidden;" 
        elsif params[:action] == 'new' || params[:action] == 'edit'
          "background: linear-gradient(-20deg, #1c2edf, #1c2edf, #ff9133);
            background-size: 500vw 200vh;
            animation: gradient 35s ease infinite;
            height: 100vh; width: 100.2vw !important; overflow: hidden;" 
        elsif params[:action] == 'index' && current_retailer
          "background: #1c2edf" 
        elsif params[:action] == 'show' && current_retailer
          "background: #1c2edf" 
        else
          'background-color: whitesmoke;'
        end 
      end  
  %>

  <body class="pb-4" style="<%=bg_color%>">
    <%= render 'shared/navbar' if current_user %>
    <%= render 'shared/sidebar' if current_retailer %>
    <%= render 'shared/retailer_navbar' if current_retailer && params[:action] != 'home'%>
    <%= render 'shared/navbar' if current_retailer == nil %>
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
