<div class="home-organizer">

      <% if @vouchers.length == 0 %>

        <p class="py-3 text-center" style="color: grey; border-bottom: 1px solid lightgrey">You have no voucher yet</p>

      <% else %>
          <div class="retailler-vouchers-wrapper mx-5 mb-5 pb-5">
          	<% @vouchers.each do |voucher| %>

              <%= link_to voucher_path(voucher) do %>
                <div class="retailler-vouchers-info align-middle d-flex">

                  <div class="voucher-left" style="<%= "background-color: rgba(224, 82, 63, .7)" if voucher.product.kind == "Food and beverages"%> <%= "background-color: rgba(34, 133, 214, .7)" if voucher.product.kind == "Health and beauty"%> <%= "background-color: rgba(99, 168, 88, .7)" if voucher.product.kind == "Home and lifestyle"%>">
                    <% if voucher.product.kind == "Food and beverages" %>
                      <%= image_tag "grocery.svg", alt: "fb", class: "pb-3" %>
                    <% elsif voucher.product.kind == "Health and beauty" %>
                      <%= image_tag "shampoo.svg", alt: "hb", class: "pb-3" %>
                    <% else %> 
                      <%= image_tag "house.svg", alt: "hl", class: "pb-3" %>
                    <% end %> 
                  </div>
                  <div class="voucher-right p-3 d-flex flex-column justify-content-between">
                    <div class="date-voucher">
                      <p> <%= voucher.start_date.strftime("%d.%m.%Y") %> - <%= voucher.end_date.strftime("%d.%m.%Y") %></p>
                      <p> <strong><%= (voucher.end_date - Date.current).to_i %> jours restants</strong></p>
                      
                    </div>
                    <p> <strong style="font-size: 16px;"> <%= "- 0,#{voucher.discount_cents} €" %> </strong> sur <span style="text-transform: uppercase;"> <%= voucher.product.name %> </span></p>
                  </div>
                  <% if voucher.status == "active" %>
                      <p class="active-tag">Active</p>
                  <% end %>
                </div>
              <% end %>
          	<% end %>
          </div>
      <% end %>

</div>
