<%= link_to "Create bon de reduction", new_voucher_path %>

<% if @vouchers.length == 0 %>

  <p class="p-3 text-center" style="color: grey; border-bottom: 1px solid lightgrey">You have no voucher yet</p>

<% else %>
  <%= link_to 'Filtrer', vouchers_filter_path %> 
	<% @vouchers.each do |voucher| %>
    <%= link_to voucher_path(voucher) do %>
      <div class="card receipt-info">
        <p> <%= "#{I18n.t "vouchers.start_date"} : #{voucher.start_date.strftime("%d.%m.%Y")}" %></p>
        <p> <%= "#{I18n.t "vouchers.end_date"} : #{voucher.end_date.strftime("%d.%m.%Y")}" %></p>
        <p> <%= "#{I18n.t "vouchers.product"} : #{voucher.product.name}" %></p>
        <p> <%= "#{I18n.t "vouchers.status"} : #{voucher.status}" %></p>
      </div>
    <% end %>
	<% end %>
<% end %>